/* Importing Fira Sans font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  /* margin: 0;
  padding: 0; */
  font-family: Fira Sans;
}

/* Shared styles */
.btn-primary {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  border-radius: 7px;
  background: rgb(0, 106, 80);
  margin: 22px 0px;
  padding: 16px 31px 16px 31px;
  border: none;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: rgb(237, 178, 134);
}

.banner {
  display: flex;
  justify-content: space-between;
  border-radius: 24px;
  background: rgb(198, 228, 214);
  margin: 80px 146px 0px 146px;
  padding: 80px 100px 80px 100px;
  /* width: 1170px;
  height: 512px; */
}
.banner-title {
  color: rgba(14, 14, 14, 0.5);
  font-size: 22px;
  font-weight: 500;
  line-height: 27px;
  margin: 15px 0px;
}
.banner-subtitle {
  color: rgb(14, 14, 14);
  font-size: 51px;
  font-weight: 700;
  line-height: 58px;
  margin: 15px 0px;
}
