/* Importing Fira Sans font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: Fira Sans;
}
.pillar {
  margin: 73px 146px 0px 146px;
}

.pillar-heading {
  color: rgb(14, 14, 14);
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
  margin: 29px 0px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  gap: 22px;
}

.card {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  /* margin: 0px 22px; */
  padding: 22px;
}
